$banner-image:'/images/banner.png';
$site-title-background-color:#3d5e80;
$site-title:'Earthquake Hazards Program';

@import '../../../node_modules/hazdev-template/src/htdocs/css/_template';
@import '../../../node_modules/hazdev-template/src/htdocs/css/flexible-grid';